#toolbar.ql-toolbar.ql-snow{
    border:none;
}
.ql-container.ql-snow{
    font-size:16px;
    border:none;
}
.ql-toolbar.ql-snow .ql-formats{
    margin:0 0 0 0;
}

.text-editor{
    caret-color :#a1a1aa;
    font-family: 'Lato';
    z-index: 10 !important;
}